@media (min-width:500px) {

  /* your conditional / responsive CSS inside this condition */
  .paises { font-size: 14px !important }
    .imagen {
       resize: both !important
    }

}

@media (max-width : 400px) {
    .paises {
        font-size: 10px !important
    }
    .imagen {
        resize: both !important
    }
}